* {
    font:200;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: lightsteelblue;
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    position: sticky;
    top: 0;
    /* width:100%; */
    padding: 1em;
    background-color: rgb(245, 186, 180);
    /* height: 20vh; */
}
header h1 {
    text-align: center;
}
img {

}

nav, nav ul, nav ul li {
    display: inline-block;
}

nav ul li {
    padding: 0 4em;
}
section {
    background-color: beige;
    height: 35vh;
    /* margin-top: 23vh; */
    padding: 4em 0 0;
}

section form {
    background-color: lightblue;
    text-align: center;
    padding: 3em 0;
    border-radius: 1em;
}
footer {
    background-color: rgb(245, 186, 180);
    height: 29vh;
    padding: 1em;
}
footer h1 {
    text-align: center;
}